.carrito{
  background-color: rgb(255, 216, 20);
  border: none;
  font-size: 1rem;
  border-radius: 25px;
  padding: 10px 20px;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
}

.programar{
  background-color: rgb(230, 230, 230);
  color: black;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
  cursor: pointer;

}

.solicitar{
  background-color: black;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
  cursor: pointer;
  
}

.solicitar1{
  background-color: black;
  color: white;
}


