body {
    background-color: black;
}

#caja{
    width: 50%;
    margin-left: 25%;
    color: white;
    font-family: "Libre Baskerville", serif;
    text-align: center;
}

#img{
    width: 100%;
    margin-top: 60px;
    border: 5px solid white;
}

h1 {
     /*Letra en Mayuscula*/
    text-transform: uppercase; /*texto en MAYUSCULA*/
    font-size: 3rem;
    font-style: italic ; /*texto en Cursuva*/
}