body{
    background-color: black;
}

div {
    width: 50%;
    margin-left: 25%;

}

img {
    border: 5px solid white;
    width: 100%;
}

h1{
    color: white;
    font-family: "Libre Baskerville", serif;
    text-align: center;
    margin: 0px;
}

p {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 0px;
}