body{
    background-color: black;
}

div {
    width: 50%;
    margin-left: 25%;
    margin-top: 100px;
    text-align: center;
    font-family: "Libre Baskerville", serif;

}

img {
    border: 5px solid white;
    width: 100%;
}

h1{
    color: white;
    font-size: 80px;
    margin: 15px;
    text-transform: uppercase;
}

p {
    color: white;
    margin: 15px;
    font-size: 30px;
}