body {
    margin: 0;
}
.container {
    font-family: Copperplate;
    text-align: center;
}

.inicio{
    font-size: 2rem;
    background-image: url(../img/fondo.jpg);  /*carga de imagen*/
    height: 500px;
    background-size: cover; /*hace la imagen cubra todo el div*/
    background-position: center; /*centra la imagen para que se vea maquetado*/
}

h1, h2, h3 {
    color: rgba(45, 161, 250, 0.832);
    font-style: italic;
}
    
.inicio > h1 {
    font-size: 4rem;
    margin: 0;
    padding-top: 5px;
}

.inicio > h2 {
    font-size: 2rem;
    margin: 0;
    padding: 0;
}

h2 {
    font-size: 3rem;
    padding: 10px;
}

hr {
    border: dotted rgba(45, 161, 250, 0.832) 6px;
    border-bottom: none; 
    width: 4%; 
    margin: 100px auto;
}

.educacion {
    margin-top: 50px;
}

.imgpersona {
    height: 200px;
    border-radius: 50%;
}

p {
     font-size: 1.5rem;
     padding-left: 700px;
     padding-right: 700px;
}

.proyecto {
    font-size: 2rem;
    padding: 10px;
}

.proyecto img {
    height: 500px;
}


.informacion h3 {
    font-size: 2rem;
    padding: 10px;
}


.info1 img {
    height: 200px;
}

.info1 p {
  padding-left: 5px;
  padding-right: 0;
}

.info1 {
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    grid-template-rows: 1fr;
    width: 50%;
    margin: 100px auto 0 auto;
    text-align: left;
    gap: 2rem;
}

button {
    border-radius: 50%;
}

.contactame {
    font-size: 1.5rem;
    color: rgb(112, 112, 112);
}

.contactame li {
    display: flex;
    justify-content: center; /* Centra horizontalmente */
}

footer {
    display: flex;
    background-color: aqua;
    height: 100px;
    text-align: center;
    align-items: center;
    justify-content: center;
}
