body {
    margin: 0;
}
.container {
    font-family: monospace;
    text-align: center;
}

.inicio{
    color: blue;
    font-size: 2rem;
    background-image: url(../img/fondo.jpg);  /*carga de imagen*/
    height: 500px;
    background-size: cover; /*hace la imagen cubra todo el div*/
    background-position: center; /*centra la imagen para que se vea maquetado*/
    }

.inicio > h1 {
    font-size: 4rem;
    font-weight: bold;
    font-style: italic;
    margin: 0;
}

.inicio > h2 {
    font-size: 2rem;
    margin: 0;
}

