body{
  background-color: rgb(25, 25, 25);
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}
.titulo{
  font-weight: bold;
}

.movimiento {
  height: 60px;
}
.btn-movimiento{
  background-color: transparent;
  border-radius: 60px;
  border: 3px solid white;
  height: 120px;
  width: 120px;
  margin-right: 10px;
  cursor: pointer;
}

.resultado{
  font-size: 25px;
  font-weight: bold;
  margin-top: 50px;

}

.puntaje{
  margin-top: 60px;
}

.reinicio{
  background-color: white;
  border: mone;
  font-size:15px;
  padding: 8px 15px;
  cursor: pointer;
}

