body{
    font-family: Arial, Helvetica, sans-serif;
}


.todo-grid,
.todo-grid-2{
    display: grid;
    grid-template-columns: 200px 150px 100px;
    column-gap: 10px;
    row-gap: 10px;
    align-items: center;
}

.todo-grid-2{
    margin-bottom: 10px;
    align-items: stretch;
}

.name-input,
.fecha-input,
.btn-añadir,
.btn-eliminar{
    font-size: 15px;
    padding: 6px;
}

.btn-añadir{
    background-color: green;
    color: white;
    border: none;
    cursor: pointer;
}

.btn-eliminar{
    background-color: darkred;
    color: white;
    border: none;
    cursor: pointer;
    padding-top: 10px;
    padding-bottom: 10px;
}